html {
    box-sizing: border-box;
    
} 

body {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0e1853;
    -moz-box-shadow:    inset  0  300px 300px -300px hsla(0,0%,0%,.8), 
                          inset  0 -300px 300px -300px hsla(0,0%,0%,.8);
    -webkit-box-shadow: inset  0  300px 300px -300px hsla(0,0%,0%,.8), 
                          inset  0 -300px 300px -300px hsla(0,0%,0%,.8);
    box-shadow:        inset  0  300px 300px -300px hsla(0,0%,0%,.8), 
                          inset  0 -300px 300px -300px hsla(0,0%,0%,.8);
    font-family: sans-serif;
    margin: 0;
    
}

.main__container {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    width: 40rem;
    border-radius: 40px;
}

.form__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;

    & .form-content {
        display: flex;
        flex-direction: column;
        border-radius: 4px;
    }
}

.grid-2-column {
    grid-column: span 2;
}


input {
    background-color: #e5e8ecf8;
    font-size: 18px;
    padding: 1rem;
    border: none;
    border-radius: 4px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s ease-in-out;
    outline: none;
}

input:focus {
    border-bottom: solid 2px #000;
}

.password {
    position: relative;

    & input {
        width: 89%;
    }
}

.show-hide {
    position: absolute;
    right: 10px; 
    top: 50%; 
    transform: translateY(-50%);
    border: none;
    background-color: transparent;
    font-size: 24px;
    color: #8a8a8a;
    cursor: pointer;
}


.send-button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

#send-button {
    background-color: rgb(25, 59, 255);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    padding: 0.7rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: rgb(25, 110, 255);
    }
}

.error-message {
    margin-top: 0.3rem;
    color: #d30000;
    font-size: 13px;
    background-color: #fff;
}
