html {
    font-size: 62.5;
    box-sizing: border-box;
} 

body {
    background-color: #0e1853;
    font-family: sans-serif;
    margin: 0;
}

.main__container {
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4rem;
    width: 40rem;
    border-radius: 40px;
}

.form__container {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    margin-top: 2rem;

    & .form-content {
        display: flex;
        flex-direction: column;
    }
}

.grid-2-column {
    grid-column: span 2;
}

input {
    background-color: #e5e8ecf8;
    font-size: 18px;
    padding: 1rem;
    border: none;
    border-bottom: 1px solid transparent;
    border-radius: 4px;
    transition: border-bottom 0.2s ease-in-out;
    outline: none;
}

input:focus {
    border-bottom: solid 1px #000;
}


.send-button__container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4rem;
}

#send-button {
    background-color: rgb(25, 59, 255);
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    width: 70%;
    padding: 0.7rem;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;

    &:hover {
        background-color: rgb(25, 110, 255);
    }
}